nvim/.config/nvim/plugin

nvim/.config/nvim/plugin
alacritty/.config/alacritty/colorschemes
openbox/.config/openbox/polybar
openbox/.config/openbox/rofi
openbox/.config/openbox/scripts

openbox/.config/openbox/polybar/kanagawa/.curplayer.log
lf/.config/lf-ueberzug/examples
lf/.config/lf-ueberzug/README.md
lf/.config/lf-ueberzug/demo.gif
zsh/.config/zsh/.zcompdump-bobcraft-5.9
zsh/.config/zsh/.zcompdump.bobcraft.260749
zsh/.config/zsh/.zsh_history
