* {
  accent:           #957fb8;
  background:       #1b1b24;
  background-light: #2a2a37;
  background-focus: #223249;
  foreground:       #dcd7ba;
  foreground-list:  #c8c093;
  on:               #76946a;
  off:              #c34043;
}
